<div class="card-columns mt-4">
    <!-- Aquí listaremos los eventos -->
    <div class="card" *ngFor="let IEvento of IEventos">
        <div class="card-body">
            <h4 class="card-title">{{IEvento.title}}</h4>
            <p class="card-text">{{IEvento.description}}</p>
        </div>
        <div class="card-footer text-muted">
            {{IEvento.date}}
            <span class="float-right">{{IEvento.price}}</span> </div>
    </div>
    <div *ngIf="IEventos.length == 0">
        <h3>No hay eventos disponibles</h3>
    </div>



</div>
