{% extends 'base.html.twig' %}

{% block body %}
  <nav>
    <ul>
      <li><a href="{{ path('inicio') }}">Inicio</a></li>
      <li><a href="{{ path('libros') }}">Ver Libros</a></li>
    </ul>
  </nav>

  {% block main %}
    <main></main>
  {% endblock %}

  <footer>
    <p>
      -Desarrollo Web en Entorno Servidor-
    </p>
  </footer>
{% endblock %}
